.wp-element-button,
.wp-block-button .wp-block-button__link {
	text-transform: none;
	border-radius: 5px;
	background: var(--wp--preset--color--custom-a-11-y-red-text);
}
.wp-block-latest-posts__post-date {
	font-size: .7em;
	color: #555;https://github.com/WordCamp-Canada/2025-Website/blob/main/override.css
}

.tix-tickets-list {
	border-spacing: 0;
	width: 100%;
}
.tix-tickets-list thead th,
.tix-tickets-list thead td {
	border-bottom: 4px solid color(srgb 0.0666667 0.0666667 0.0666667 / 0.2);
	padding-bottom: 20px;
}
.tix-tickets-list tbody tr th,
.tix-tickets-list tbody tr td {
	border-bottom: 1px solid color(srgb 0.0666667 0.0666667 0.0666667 / 0.2);
	padding-bottom: 20px;
	padding-top: 20px;
}
.tix-column-remaining {
	display: none;
}
.tix_tickets_table.tix-tickets-list {
	text-align: left;
}
.tix-column-quantity select {
	padding: 8px;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
}
.tix_tickets_table.tix-tickets-list .tix-column-price {
	padding-left: 2em;
	padding-right: 2em;
}
#tix input[type="submit"],
#tix .tix-submit .tix-checkout-button {
	background: var(--wp--preset--color--custom-a-11-y-red-text);
	color: var(--wp--preset--color--base);
	border-radius: 5px;
	padding: 1rem 1.6rem;
	font-size: var(--wp--preset--font-size--medium);
	border: none;
	text-transform: none;
}
.faq-grid > .wp-block-group {
	border-top:1px solid var(--wp--preset--color--custom-a-11-y-red-text);
	padding-top: 1em;
	margin-top: 2em;	
}

.tix_tickets_table.tix-order-summary {
	width: 100%;
	text-align: left;
}
.tix-ticket-form td.tix-right,
.tix-private-form td.tix-right,
.tix-attendee-form td.tix-right,
.tix-receipt-form td.tix-right {
	width: 40%;
}
.tix_tickets_table td {
	padding: .25em;
}
